body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:62px;
}
#u799 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:62px;
  font-size:12px;
}
#u800 {
  position:absolute;
  left:2px;
  top:23px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801 {
  position:absolute;
  left:0px;
  top:61px;
  width:400px;
  height:651px;
  overflow:hidden;
}
#u801_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:651px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u801_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:651px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u802 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:651px;
}
#u803 {
  position:absolute;
  left:2px;
  top:318px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:709px;
}
#u804 {
  position:absolute;
  left:1px;
  top:117px;
  width:399px;
  height:709px;
}
#u805 {
  position:absolute;
  left:2px;
  top:346px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:197px;
}
#u806 {
  position:absolute;
  left:0px;
  top:1px;
  width:399px;
  height:197px;
}
#u807 {
  position:absolute;
  left:2px;
  top:90px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u808 {
  position:absolute;
  left:221px;
  top:208px;
  width:162px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u809 {
  position:absolute;
  left:2px;
  top:6px;
  width:158px;
  word-wrap:break-word;
}
#u810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u810 {
  position:absolute;
  left:72px;
  top:30px;
  width:232px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u811 {
  position:absolute;
  left:2px;
  top:4px;
  width:228px;
  word-wrap:break-word;
}
#u812 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
}
#u813 {
  position:absolute;
  left:19px;
  top:30px;
  width:12px;
  height:19px;
  font-size:12px;
}
#u814 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
}
#u815 {
  position:absolute;
  left:11px;
  top:30px;
  width:12px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:12px;
}
#u816 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
