body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:62px;
}
#u472 {
  position:absolute;
  left:0px;
  top:-1px;
  width:400px;
  height:62px;
  font-size:12px;
}
#u473 {
  position:absolute;
  left:2px;
  top:23px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u474 {
  position:absolute;
  left:0px;
  top:61px;
  width:400px;
  height:651px;
  overflow:hidden;
}
#u474_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:651px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u474_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:651px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u475 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:651px;
}
#u476 {
  position:absolute;
  left:2px;
  top:318px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:643px;
}
#u477 {
  position:absolute;
  left:1px;
  top:0px;
  width:400px;
  height:643px;
}
#u478 {
  position:absolute;
  left:2px;
  top:314px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u479 {
  position:absolute;
  left:105px;
  top:205px;
  width:280px;
  height:74px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u480 {
  position:absolute;
  left:2px;
  top:29px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u481 {
  position:absolute;
  left:129px;
  top:220px;
  width:187px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u482 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u483 {
  position:absolute;
  left:45px;
  top:26px;
  width:256px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u484 {
  position:absolute;
  left:2px;
  top:2px;
  width:252px;
  word-wrap:break-word;
}
#u485 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
}
#u486 {
  position:absolute;
  left:19px;
  top:30px;
  width:12px;
  height:19px;
  font-size:12px;
}
#u487 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
}
#u488 {
  position:absolute;
  left:11px;
  top:30px;
  width:12px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:12px;
}
#u489 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
